body { text-align: center; }
#geral {
    display: block;
    border: 1px solid #000;
    width: 90%;
    margin: 0 auto;
}
#header {
    border: 2px solid #a2a2a2;
}
#conteudo {
    width: 75%;
    border: 2px solid #000;
    float: left;
}
#sidebar {
   width: 23%;
   border: 2px solid #000;
   float: right;
}
#footer {
   border: 2px solid #000;
   clear: both;
}